    img
    {
    height: auto;
    width: 100%;
}


body
{
	margin:0;
}



.bg-light
{
background-color:#414042!important;
}

.btn-warning
{
	background: #f58220!important;
	border: 1px solid transparent;
	border-color:#f58220!important;;
}

.r1
{
	background-color:#f2f2ee;

}


html,.bgc
{
	background-color:#f2f2ee;
}

.pro
{
	padding:10%;
	margin-top: 10%;
}
.l1
{
	margin-top: 5%!important;
	margin-left: 10%;
}

.buttons
{
	background-color:#f2f2ee!important;
	border:0px!important;
	cursor: pointer;

}

.buttons:focus {outline:0;}

.lis1{
    list-style-type:none;
}

.lis1:hover{
    list-style-type:circle;
}

.lis2,.lis1
{
font-size: 1.3em;	
}
.b1
{
	font-weight: 500;
}

.con
{
	position: relative;
}

.hovcon,.hovcon1
{
	position: absolute;
	width:80%;
	height:90%;
	top:5%;
	left:10%;
	background-color: white;
	padding:8%;
	visibility: hidden;
	opacity:1;
	

}


.con:hover .hovcon
{
	visibility: visible;
	opacity:0.93;
}


.col-md-5
{
	padding: 0px!important;
}

.hovcon_exp,.hovcon_exp1
{
	margin-top: 6%;
}

.l_more
{
	position: absolute;
	top:90%;
	left:50%;
	width:40%;
	background:orange;
}